#modal {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #111111;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;
}
.root {
  height: 100vh;
  background-color: #111111;
}
.root-container {
  background-color: #111111;
  padding: 20px 20%;
}
.table-container {
  background-color: #111111;
  padding: 0px 20% 80px 20%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-header {
  color: white !important;
  margin-left: 28px;
  font-size: 16px !important;
}
.desktop {
  display: table-cell;
}
.mobile {
  display: none;
}
.desktop-text {
  display: block;
}
.mobile-text {
  display: none;
}
.header-text {
  padding: 40px;
  color: #fff;
  text-align: center;
}

.table-content {
  font-size: 15px !important;
  height: 50px;
  color: #d8d8d8;
}

.body-container {
  justify-content: center;
  align-items: center;
  display: block;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.airdrop-container {
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 720px;
  margin: 0 auto;
}

.airdrop-label {
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 41px;
  font-size: 35px;
  margin-bottom: 0px;
}
.airdrop-rule {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 50px;
  color: #898989;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #898989 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #898989 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #898989 !important;
}
.input-address {
  padding: 15px 60px 15px 30px !important;
  border-radius: 12px !important;
  margin-bottom: 20px !important;
  height: 60px;
  font-size: 18px !important;
  width: 549px !important;
  color: white !important;
  border-width: 1.75px !important;
  border-color: #3f3f3f !important;
  background: #111111 !important;
}

input[type="text"]:focus {
  box-shadow: none;
}
.error-message {
  color: #e02020;
  margin-bottom: 0 !important;
  font-size: 15px !important;
}
.btn-faucet {
  margin-top: 50px !important;
  padding: 15px 40px !important;
  border-radius: 30px !important;
  height: 60px !important;
  width: 244px;
  color: white !important;
  border-color: #333335 !important;
  background: #333335 !important;
}
.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  opacity: 0.5 !important;
}
.ant-btn-lg {
  font-size: 18px !important;
}
.table-requests {
  font-size: 18px !important;
  width: 100%;
}
.request-queue {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.table-content td:first-child {
  padding-left: 20px;
}
/* .table-content td:last-child {
  padding-right: 10px;
} */

.table-requests th:first-child {
  padding-left: 20px;
}
/* .table-requests th:last-child {
  padding-right: 10px;
} */
td:first-child {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
}
td:last-child {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
}
th:first-child {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
}
th:last-child {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
}
.qrcode {
  margin-left: -50px;
  margin-top: 20px;
  position: absolute;
  width: 21px;
  height: 21px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media only screen and (max-width: 600px) {
  .camera {
    margin-top: 100px;
  }
  .camera section section div {
    box-shadow: #63DA38 0px 0px 0px 2px inset !important;
  }
  .desktop-text {
    display: none;
  }
  .mobile-text {
    display: block;
  }
  .root-container {
    padding: 20px !important;
  }
  .airdrop-container {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .table-container {
    padding: 0 0 50px 0 !important;
  }
  .body-container {
    padding: 0 !important;
  }
  .airdrop-label {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .airdrop-rule {
    font-size: 15px !important;
    margin-top: 15px;
    word-spacing: -1px;
    line-height: 20px !important;
  }
  .input-address {
    height: 50px !important;
    margin-bottom: 10px !important;
    width: 100% !important;
    font-size: 15px !important;
    border-width: 1px !important;
    padding: 5px 40px 5px 15px !important;

  }
  .btn-faucet {
    height: 50px !important;
    width: 100% !important;
    font-size: 15px !important;
    padding: 7px !important;
    margin-top: 10px !important;
  }
  .table-requests {
    font-size: 13px !important;
  }
  .table-content {
    height: 45px;
    font-size: 13px !important;
  }
  .error-message {
    text-align: left !important;
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: table-cell;
  }
  .request-queue {
    font-size: 15px;
    margin-left: 20px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .qrcode {
    width: 17px;
    height: 17px;
    margin-left: -30px;
    margin-top: 16px;
  }
  .table-content td:first-child {
    padding-left: 13px;
  }
  .table-content td:last-child {
    padding-right: 10px;
  }

  .table-requests th:first-child {
    padding-left: 13px;
  }
  .table-requests th:last-child {
    padding-right: 10px;
  }
  .btn-header {
    margin-bottom: 30px;
    margin-left: 0px !important;
    font-size: 18px !important;
  }
  td:first-child {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
  td:last-child {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
  th:first-child {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
  th:last-child {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
  }
}

@media only screen and (max-width: 1050px) {
  .input-address {
    width: 100% !important;
  }
}
